<html>
	<body>
		<h1>Ziggy</h1>
		<hr/>

		<h2>Server</h2>
		{% for k,v in server.items() %}
			<p><b>{{k}}</b>: {{v}}</p>
		{% endfor %}
		<hr/>

		<h2>Status</h2>

		<h3>CPU Temperature</h3>
		<p>{{status.host.temperature}}°C</p>
		<p>last updated: {{status.host.last_update}}</p>

		<h3>Remote computer power status</h3>
		<p>Power LED = {{status.remote.power}}</p>
		<p>Power btn = {{status.remote.power_button}}</p>
		<p>last updated: {{status.remote.last_update}}</p>

		<hr />
		<h2>Remote computer control</h2>
		<button onclick="location.href='/power/on';">Power on</button>
		<button onclick="location.href='/power/off';">Power off</button>
	</body>
</html>